* {
    margin: 0;
    padding: 0;

}

#home {
    background: #ffc107;
    color: white;
}

.caixa {
    padding: 50px 0;
    border-bottom: 1px solid #e5e5e5;

}

footer p a {
    margin: 5px 15px;
}

/* #home {
    overflow-x: auto;  
} */

@media (max-width: 600px) {
    #home {
        overflow-y: hidden;
    }
}